/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');*/

@font-face {
    src: url("fonts/Montserrat-Light.ttf");
    font-face-name: 'Montserrat';
    font-family: 'Montserrat', sans-serif;;
}

*{
    margin:0px;
    padding:0pc;
    outline: none;
}

body{
    width:100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: relative;
    max-height: 600px !important;
    min-height: 600px !important;
    background: #0473e5;
    background: rgba(4,116,229,1);
    background: -moz-linear-gradient(45deg, rgba(4,116,229,1) 0%, rgba(2,34,131,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(4,116,229,1)),
    color-stop(100%, rgba(2,34,131,1)));
    background: -webkit-linear-gradient(45deg, rgba(4,116,229,1) 0%, rgba(2,34,131,1) 100%);
    background: -o-linear-gradient(45deg, rgba(4,116,229,1) 0%, rgba(2,34,131,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(4,116,229,1) 0%, rgba(2,34,131,1) 100%);
    background: linear-gradient(45deg, rgba(4,116,229,1) 0%, rgba(2,34,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0474e5', endColorstr='#022283', GradientType=1 );
}

header > .header{
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header > .header > .header-dvs{
    position: absolute;
    width: 100%;
    left: 0;
    top: 30%;
    right: 0;
    transform: skewY(-10deg);
    bottom: -187px;
    z-index: 0;
}

header > .header > .header-dvs > .div00{
    position: absolute;
    background: linear-gradient(90deg,#6fa8ef ,#5a65db);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
}

header > .header > .header-dvs > .div01{
    position: absolute;
    bottom: -4px;
    right: calc(47% - 30px);
    background: linear-gradient(90deg,#fff 50%,#f0f0f7);
    height: 203px;
    left: 0;
    pointer-events: none;
}

header > .header > .header-dvs > .div03{
    position: absolute;
    bottom: 130px;
    left: 62%;
    background: linear-gradient(90deg,#6788ea,#68bcf7);
    height: 160px;
    right: 0;
    border-radius: 20px 0 0 0;
    pointer-events: none;
}

header > .header > .header-dvs > .div04{
    position: absolute;
    bottom: 60px;
    right: 39%;
    background: linear-gradient(90deg,#6ea6ee,#5f74db);
    left: 0;
    height: 250px;
    border-radius: 0 35px 0 0;
    z-index: 1;
    pointer-events: none;
}

header > .header > .header-dvs > .div05{
    position: absolute;
    bottom: 385px;
    right: 30%;
    background: linear-gradient(90deg,#6a8dea,rgba(106,141,234,0));
    left: 0;
    height: 200px;
    pointer-events: none;
}

header > .header > .header-dvs > .div06{
    position: absolute;
    bottom: 816px;
    background: #6772e5;
    height: 100%;
    top: -400px;
    left: 0;
    right: 0;
    z-index: -2;
    pointer-events: none;
}

header > .header > .white-header{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index:1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.12) 0%,rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 0%,rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 0%,rgba(255, 255, 255, 0) 100%);
}

.frameworks{
    width: auto;
    position: absolute;
    left: 50px;
    z-index: 1000;
    bottom: 70px;
}

.frameworks > a{
    width: 100%;
    float: left;
}

.frameworks > a > img{
    width: 100%;
    height: 50px;
    float: left;
    opacity: .5;
}

header > .main-header{
    width: 100%;
    height:auto;
    float: left;
    position: absolute;
    z-index: 1000;
}


header > .main-header > .main-header-wrapper{
    width: 70%;
    height: auto;
    margin: 0px auto;
}

header > .main-header > .main-header-wrapper > .lg{
    width: 32px;
    height: 32px;
    float: left;
    margin: 43px 0 0 0;
    overflow: hidden;
    position: relative;
}

header > .main-header > .main-header-wrapper > .lg > a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    float: left;
}

header > .main-header > .main-header-wrapper > .lg > a > img{
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
}

header > .main-header > .main-header-wrapper > .lg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -2px;
    box-shadow: 0px 2px 3px rgba(100,100,100,.4);
}

header > .main-header > .main-header-wrapper > nav{
    width: 80%;
    height: 100%;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
    position: relative;
}

header > .main-header > .main-header-wrapper > nav > ul{
    float: right;
    width: 100%;
    height: 100%;
}

header > .main-header > .main-header-wrapper > nav > ul > li{
    float: left;
    list-style-type: none;
}

header > .main-header > .main-header-wrapper > nav > ul > li > a{
    padding: 2px 14px 0;
    text-decoration: none;
    float: left;
    color: #fff;
    text-align: justify;
    font-size: 15px;
    position: relative;
    #border-right: 1px solid rgba(255, 255, 255, 0.09);
}

header > .main-header > .main-header-wrapper > nav > ul > li > a:before{
    content: '';
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 0;
    background: #fff;
    transition: all .3s ease-in-out;
}

header > .main-header > .main-header-wrapper > nav > ul > li > a:hover::before,
header > .main-header > .main-header-wrapper > nav > ul > li > a:focus:before{
    content: '';
    width: 100%;
    transition: all .3s ease-in-out;
}

header > .main-header > .main-header-wrapper > nav > ul > li > a:last-child{
    border-right: none;
}

header > .main-header > .main-header-wrapper > nav > .wh-services{
    width: 100%;
    float: left;
    height: 0px;
    overflow: hidden;
    background: #fff;
    margin-top: 50px;
    position: absolute;
    -webkit-border-radius: 7px;
    -moz-border-radius:7px;
    border-radius: 7px;
    -webkit-transition: .4s ease-in-out 0s;
    -moz-transition: .4s ease-in-out 0s;
    -ms-transition: .4s ease-in-out 0s;
    -o-transition: .4s ease-in-out 0s;
    transition: .4s ease-in-out 0s;
    z-index: 200;
    box-shadow: 0px 5px 10px rgba(100,100,100,.3);
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-top{
    width: 100%;
    height: auto;
    float: left;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    padding: 20px 0 0px 0px;
    border-bottom: 1px solid #f6f6f6;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-top > h3{
    border-bottom: 2px solid #6fa8ef;
    padding-bottom: 5px;
    float: left;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
    color: #8f97a0;
    transition: all .4s ease-in-out 0s;
    border-bottom-left-radius: 9px;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-top > h3 > b{
    color: #8f97a0;
    font-weight: normal;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-top > h3:hover{
    padding-right: 50px;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-middle{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 15px;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-middle > a{
    float: left;
    width: auto;
    margin-top: 30px;
    padding: 25px 32px;
    text-decoration: none;
    text-align: center;
    color: #8f97a0;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    border-right: 1px solid #f6f6f6;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-middle > a:last-child{
    border:none;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-middle > a > i{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    transition: .6s linear 0s;
}

header > .main-header > .main-header-wrapper > nav > .wh-services > .wh-middle > a:hover > i{
    color: rgba(106,141,234,1);
}

header > .main-header > .buttons{
    float: right;
    width:auto;
    #position: absolute;
    right: 130px;
    top: 40px;
    margin: 40px 130px 0 0;
}

header > .main-header > .buttons > a{
    float: left;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    -webkit-transition: .7s linear 0s;
    -moz-transition: .7s linear 0s ;
    -ms-transition: .7s linear 0s;
    -o-transition: .7s linear 0s;
    transition: .7s linear 0s;
    text-decoration: none;
}

header > .main-header > .buttons > a:hover{
    opacity: .7;
}

header > .main-header > .buttons > a.login{
    background: #49bfef;
}

header > .main-header > .buttons > a.signup{
    background: #33d3c9;
}



header > .active-header{
    position: fixed;
    height: 95px;
    top: 0;
    box-shadow: 0px 5px 10px rgba(100,100,100,.1);
    background: #fff;
}

header > .active-header  > .main-header-wrapper > .lg{
    margin-top: 35px;
}

header > .active-header > .main-header-wrapper > nav{
    margin-top: 40px;
}

header > .active-header > .main-header-wrapper > nav > ul > li > a{
    color: #6fa8ef;
}

header > .active-header > .main-header-wrapper > nav > ul > li > a:before{
    background:#6fa8ef ;
}

header > .active-header > .hearder-contents{
    display: none;
}

header > .active-header > .buttons{
    margin-top: 30px;
}

.hearder-contents{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 9%;
}

.hearder-contents > .c-wrapper{
    width: 40%;
    height: 100%;
    display: block;
    margin: 0px auto;
}

.hearder-contents > .c-wrapper > .c-title{
    width: 100%;
    height: auto;
    text-align: center;
    color:#fff;
}

.hearder-contents > .c-wrapper > .c-title > h3{
    font-size: 27px;
}

.hearder-contents > .c-wrapper > .c-title > p{
    margin-top: 10px;
    color: #f0f0f0;
}

.hearder-contents > .c-wrapper > .d-search{
    width: 100%;
    float: left;
    height: auto;
    margin: 25px 0 0 0;
}

.hearder-contents > .c-wrapper > .d-search > .domain-search{
    width: 100%;
    position: relative;
    float: left;
}

.hearder-contents > .c-wrapper > .d-search > .domain-search > input.search{
    width: 87%;
    font-size: 24px;
    height: auto;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    background: #fff;
    border: none;
    color: #49bfef;
    position: relative;
    padding:20px 40px;
    z-index: 1;
}

.hearder-contents > .c-wrapper > .d-search > .domain-search > input.search::placeholder{
    color: rgba(100,100,100,.5);
}

.hearder-contents > .c-wrapper > .d-search > .domain-search > .serb{
    width: auto;
    height: auto;
    padding: 15px 20px;
    position: absolute;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    background: #49bfef;
    top: 7px;
    z-index: 2;
    color: #fff;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}


.hearder-contents > .c-wrapper > .d-search > .d-price{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
}

.hearder-contents > .c-wrapper > .d-search > .d-price > a{
    width: auto;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    border-right: 1px solid rgba(255,255,255,.14);
    padding-right: 5px;
}

.hearder-contents > .c-wrapper > .d-search > .d-price > a:last-child{
    border: none;
}

.hearder-contents > .c-wrapper > .d-search > .d-price > a > span{
    font-size: 14px;
    font-weight: bolder;
}

.hearder-contents > .c-wrapper > .d-search > .d-price > a > span:last-child{
    margin-left: 5px;
    font-weight: bold;
}

.hearder-contents > .c-wrapper > .d-search > .d-price > a > span > i{
    font-size: 5px;
    color: yellow;
}

.container{
    width: 100%;
    height:auto;
    float: left;
    margin-top: 240px;
}

.container > .container-wrapper{
    width: 75%;
    display: block;
    height: auto;
    margin: 0px auto;
}

.container > .container-wrapper > .plans{
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
}

.container > .container-wrapper > .plans > .p-title{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
}

.container > .container-wrapper > .plans > .p-title > h1{
    font-size: 30px;
    color: rgba(10,10,10,.7);
}

.container > .container-wrapper > .plans > .p-title > p{
    font-size: 16px;
    margin-top: 5px;
    color: #8f97a0;
}

.container > .container-wrapper > .plans > .p-plans{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 70px;
}

.container > .container-wrapper > .plans > .p-plans > section{
    width:220px;
    height: 90%;
    float: left;
    padding: 10px 20px;
    margin-left: 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 12px rgba(10,10,10,.2);
    -moz-box-shadow: 0px 3px 12px rgba(10,10,10,.2);
    box-shadow: 0px 3px 12px rgba(10,10,10,.2);
    transition: all .4s ease-in-out 0s;
    cursor: pointer;
}


.container > .container-wrapper > .plans > .p-plans > section:hover{
    -webkit-box-shadow: 0px 3px 12px #49bfef;
    -moz-box-shadow: 0px 3px 12px #49bfef;
    box-shadow: 0px 3px 12px #49bfef;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.container > .container-wrapper > .plans > .p-plans > section:nth-child(2){
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.container > .container-wrapper > .plans > .p-plans > section:hover ~ .solo{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.container > .container-wrapper > .plans > .p-plans > section.corp:hover ~ .container > .container-wrapper > .plans > .p-plans >.solo{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.container > .container-wrapper > .plans > .p-plans > section > .order-b{
    width: auto;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 25px;
    background: #49bfef;
    margin-bottom: 30px;
    color: #fff;
}

.container > .container-wrapper > .plans > .p-plans > section > section.cnt{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
    text-align: center;
}

.container > .container-wrapper > .plans > .p-plans > section > section.cnt > img{
    width: 80px;
    height: 80px;
}

.container > .container-wrapper > .plans > .p-plans > section > section.cnt > h3{
    font-size: 22px;
    margin-top: 10px;
    color: rgba(10,10,10,.7);
}

.container > .container-wrapper > .plans > .p-plans > section > section.cnt > p{
    font-size: 14px;
    color: #8f97a0;
    margin-top: 5px;
}

.container > .container-wrapper > .plans > .p-plans > section.solo > section.cnt > p{
    font-size: 12px;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h{
    width: 100%;
    float: left;
    height: auto;
    margin-top: 30px;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h > li{
    list-style-type: none;
    color: #8f97a0;
    margin-top: 10px;
    font-size: 12px;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h > li > sub:first-child{
    font-size: 11px;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h > li > b{
    color: rgba(10,10,10,.7);
    padding-right: 5px;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h > li:first-child > b{
    color: #49bfef;
}

.container > .container-wrapper > .plans > .p-plans > section > .detail-h > li:first-child > b > b{
    font-weight: normal;
    font-size: 30px;
}

.container > .container-wrapper > .services-p{
    width: 100%;
    float: left;
    height: auto;
    margin-top: 160px;
}

.container > .container-wrapper > .services-p > .ser-p{
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
}

.container > .container-wrapper > .services-p > .ser-p > h3{
    font-size: 27px;
    color: rgba(10,10,10,.7);
}

.container > .container-wrapper > .services-p > .ser-p > p{
    margin-top: 5px;
    color: #8f97a0;
    font-size: 17px;
}


.container > .container-wrapper > .services-p > .servs{
    width: 100%;
    float: left;
    height: auto;
    margin-top: 50px;
}

.container > .container-wrapper > .services-p > .servs > section{
    width: 30%;
    height: auto;
    float: left;
    margin-left: 25px;
    margin-top: 50px;
}

.container > .container-wrapper > .services-p > .servs > section:last-child{
    margin-top: 80px;
    margin-left: 200px;
}

.container > .container-wrapper > .services-p > .servs > section > section:first-child{
    float: left;
    width: auto;
    margin-top: 10px;
    height: 40px;
}

.container > .container-wrapper > .services-p > .servs > section > section:first-child > img{
    width: 40px;
    height: 100%;
    display: block;
}

.container > .container-wrapper > .services-p > .servs > section > section:last-child{
    width: 80%;
    float: right;
}

.container > .container-wrapper > .services-p > .servs > section > section:last-child > h3{
    margin-bottom: 10px;
    color: #757f8a;
    font-weight: normal;
    font-size: 20px;
}

.container > .container-wrapper > .services-p > .servs > section > section:last-child > p{
    font-size: 13px;
    color: #8f97a0;
}

.support{
    position: relative;
    width: 100%;
    min-height: 600px;
    float: left;
    margin-top: 200px;
}

.support > .dvi00{
    background-color: #e4e8ea;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    z-index: -1;
    -webkit-transform: skewY(2deg) scaleY(.7);
    -moz-transform: skewY(2deg) scaleY(.7);
    -ms-transform: skewY(2deg) scaleY(.7);
    transform: skewY(2deg) scaleY(.7);
    transform-origin: center center;
}

.support > .dvi01{
    background: linear-gradient(to right,rgb(204,76,221) 0%,rgb(83,51,188) 100%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #8f3fcc;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 0;
    z-index: -1;
    -webkit-transform: skewY(-6deg) scaleY(.7);
    -moz-transform: skewY(-6deg) scaleY(.7);
    -ms-transform: skewY(-6deg) scaleY(.7);
    transform: skewY(-6deg) scaleY(.7);
    transform-origin: center center;
}


.support > .s-cont{
    max-width: 1140px;
    height: auto;
    min-width: 500px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    margin: 190px auto;
    z-index: 100;
}

.support > .s-cont > section{
    width: 50%;
    float: left;
    height: 100%;
}

.support > .s-cont > section > h3{
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    float: left;
}

.support > .s-cont > section > h3:after{
    content: ' ';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 2px;
    display: block;
    background: #fff;
    -webkit-transition: .4s ease-in-out 0s;
    -moz-transition: .4s ease-in-out 0s;
    -ms-transition: .4s ease-in-out 0s;
    -o-transition: .4s ease-in-out 0s;
    transition: .4s ease-in-out 0s;
}

.support > .s-cont > section > h3:hover:after{
    padding-right: 40px;
}

footer{
    position: relative;
    background: #fbfbfb;
    height: auto;
    width: 100%;
    background: linear-gradient(90deg,#27283c 50%,#27283c 50%);
    float: left;
}

footer > .f-container{
    width: 70%;
    height: 100%;
    display: block;
    background: #fff;
    margin: 20px auto;
    cursor: default;
}

footer > .f-container > .left-f{
    width: 40%;
    float: left;
    height: 100%;
}

footer > .f-container > .left-f > .top-logo{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}

footer > .f-container > .left-f > .top-logo > img{
    width: 30px;
    height: 30px;
    float: left;
}

footer > .f-container > .left-f > .top-logo > span{
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    color: #fff;
}

footer > .f-container > .left-f > .f-detail{
    width: 85%;
    float: left;
    text-align: justify;
    margin-top: 20px;
    font-size: 15px;
    color: rgba(255,255,255,.5);
}

footer > .f-container > .left-f > .f-detail > p:last-child{
    margin-top: 20px;
    padding-bottom: 20px;
}

footer > .f-container > .right-f{
    width: 59%;
    float: right;
    height: 100%;
}


footer > .f-container > .right-f > .left-r-f{
    width: auto;
    float: left;
    height: 100%;
    margin-left: 30px;
    border-left: 1px solid rgba(250,250,250,.1);
    padding-left: 50px;
    padding-bottom: 30px;
}

footer > .f-container > .right-f > .left-r-f > h4{
    margin-top: 45px;
    color: #fff;
    font-weight: normal;
}

footer > .f-container > .right-f > .left-r-f > ul{
    margin-top: 20px;
}

footer > .f-container > .right-f > .left-r-f > ul > li{
    list-style-type: none;
    padding: 5px;
    transition: .4s linear 0s;
}

footer > .f-container > .right-f > .left-r-f > ul > li > a{
    color: rgba(255,255,255,.4);
    text-decoration: none;
    font-size: 14px;
    transition: .4s linear 0s;
}

footer > .f-container > .right-f > .left-r-f > ul > li:hover > a{
    color: rgba(255,255,255,1);
}

footer > .f-container > .right-f > .right-r-f{
    width: auto;
    float: left;
    height: 100%;
    padding-left: 50px;
    margin-top: 90px;
}

footer > .f-container > .right-f > .right-r-f > ul > li{
    list-style-type: none;
    padding: 5px;
    transition: .4s linear 0s;
}

footer > .f-container > .right-f > .right-r-f > ul > li > a{
    color: rgba(255,255,255,.4);
    text-decoration: none;
    font-size: 14px;
    transition: .4s linear 0s;
}

footer > .f-container > .right-f > .right-r-f > ul > li:hover > a{
    color: rgba(255,255,255,1);
}

@media screen and (max-width:1366px){
    header > .main-header > .main-header-wrapper{
        width: 95%;
    }

    .hearder-contents > .c-wrapper{
        width: 50%;
    }

    header > .main-header > .buttons{
        margin-right: 10px;
        position: absolute;
        right: 10px;
        margin-top: 0px;
    }

    .container > .container-wrapper{
        width: 95%;
    }

    .container > .container-wrapper > .plans > .p-plans > section{
        width: 200px;
    }
}